<!DOCTYPE html>
<html>
<head>
  <title>NetzkeTaskManager</title>
  <%= load_netzke %>
  <%= csrf_meta_tags %>
  <style type="text/css" media="screen">
    h1 { text-align: center; margin: 10px;}
    .netzke-component { width: 800px; margin: auto; }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
